---
title: Home
---

<!DOCTYPE html>
{% assign index = site.data.index %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Yash Khandelwal | Portfolio</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="./assets/img/profile-pic-ysk-ico.ico" rel="icon" />
  <link href="./assets/img/profile-pic-ysk-ico.ico" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Playfair+Display:wght@600&display=swap"
    rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <!-- =======================================================
  * Template Name: iPortfolio - v3.1.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  {% include header.html %}

  <!-- ======= hero Section ======= -->
  {% include hero.html %}

  <!-- ======= depth border ======= -->
  <div class="container-fluid depth-border"></div>

  <main id="main">
    <!-- ======= About Section ======= -->
    {% include about.html %}

    <!-- ======= depth border ======= -->
    <div class="container-fluid depth-border"></div>

    <!-- ======= Skills Section ======= -->
    {% include skills.html %}

    <!-- ======= depth border ======= -->
    <div class="container-fluid depth-border"></div>

    <!-- ======= Resume Section ======= -->
    {% include resume.html %}

    <!-- ======= depth border ======= -->
    <div class="container-fluid depth-border"></div>

    <!-- ======= Portfolio Section ======= -->
    {% include portfolio.html %}

    <!-- ======= Services Section ======= -->
    {% include services.html %}

    <!-- ======= Testimonials Section ======= -->
    {% include testimonials.html %}

    <!-- ======= Contact Section ======= -->
    {% include contact.html %}

    <!-- End Contact Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- <script src="assets/vendor/linkedinbadge/profile.js"></script> -->
  

  <!-- Template JS Files -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/resumeCards.js"></script>
</body>

</html>