{% assign index = site.data.index %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="{{ index.profile-pic }}" alt="" class="img-fluid rounded-circle" />
            <h1 class="text-light">
                <a href="index.html">{{ index.myname }}</a>
            </h1>
            <img src="./assets/img/—Pngtree—india flag transparent watercolor painted_5331382.png"
                style="border: none; width: 30%; margin-top: 0px" />
            <div class="social-links mt-3 text-center">
                <a href="{{ index.social-media-links.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="{{ index.social-media-links.instagram }}" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="{{ index.social-media-links.linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="{{ index.social-media-links.github }}" class="github"><i class="bx bxl-github"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li>
                    <a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li>
                    <a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
                </li>
                <li>
                    <a href="#skills" class="nav-link scrollto"><i class="bx bx-wrench"></i> <span>Skills</span></a>
                </li>
                <li>
                    <a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li>
                    <a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->