<!-- ======= Resume Section ======= -->
<section id="resume" class="resume overflow-auto">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
    </div>

    <div class="row resumeInnerContainer">
      <div class="col-lg-6 resumeInnerContainerColumn">
        <h3 class="resume-title">Education</h3>
        <div class="dashboard-cards">
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>IDD (B.Tech. + M.Tech.) in Electrical Engineering</h2>
                  <small>Indian Institute of Technology (BHU), Varanasi</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>July 2014 - June 2019</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br />
                Degree: B. Tech + M. Tech (Integrated Dual Degree) in Electrical
                Engineering (Masters in Power Electronics)
                <br />
                CGPA: <b>9.09/10</b>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Senior Secondary School</h2>
                  <small>Shiv Jyoti Sr. Sec. School</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>2012-2014</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Kota, Rajasthan, India
                <br />
                Stream: Science/Maths <br />
                Board: CBSE <br />
                Percentage: 88%
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Secondary School</h2>
                  <small>Kishor Suryavanshi International School</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>2010 - 2012</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Nashik, Maharashtra, India
                <br />
                Board: CBSE <br />
                Grade points: 10.0 <br />
                Percentage: 95%
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="resume-title">Research Paper</h3>
        <div class="dashboard-cards">
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>
                    Reduced voltage stress hybrid multilevel inverter using
                    optimised predictive control
                  </h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>June 2020</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />

                <a
                  href="https://digital-library.theiet.org/content/journals/10.1049/iet-pel.2019.1314"
                  >Khandelwal, Y., Routray, A., Singh, R. K., & Mahanty, R.
                  (2020). Reduced voltage stress hybrid multilevel inverter
                  using optimised predictive control. IET Power Electronics,
                  13(14), 2983–2991.</a
                >
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="resume-title">Achievements</h3>
        <div class="dashboard-cards">
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Common Admissions Test (CAT): 99.93 %ile</h2>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jan 2019</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Common admissions test is one of the most competitive exams in
                India. This test measures aptitude in English, Quant, Data
                Interpretation, and Logical Reasoning. The exam witnesses more
                than 300,000 test takers nationwide.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Y.E.S. HONDA Scholarship Award</h2>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Feb 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                This prestigious scholarship award by the Honda Foundation is
                bestowed upon eligible candidates who have passed a rigorous
                selection process. It awards a scholarship of $3000 and an
                additional $7000 for doing internship from Japan.
                <br /><br />
                <a href="https://www.hondafoundation.jp/yes/index_en/210"
                  >Y.E.S. Honda 2016 Awardees</a
                >
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>“HONOURABLE MENTION”</h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Apr 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                <p class="lead" style="font-size: inherit">
                  Recipient of the award “HONOURABLE MENTION” (2017) for
                  achievements and contributions in the field of Aero-modelling,
                  Gymkhana, IIT(BHU)
                </p>
                <p>
                  One of the most prestigious titles awarded to the students by
                  the college gymkhana, it marks exemplary work and
                  contributions by a student in gymkhana activities.
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>First Runner Up, Multi-Rotor event, Techkriti</h2>
                  <small>Indian Institute of Kanpur</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Mar 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Techkriti is the annual techno-management fest of IIT Kanpur.
                The multi-rotor event has the teams participating to show
                excellent drone making and flying skills. There were more than
                25 teams participating in the event.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>First Runner Up, Biz-craft, Prastuti</h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Aug 2016</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Biz-craft is a business problem solving event and is part of
                Prastuti, the annual departmental fest of the Department of
                Electrical engineering at IIT(BHU).
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>
                    Second Runner Up, Momentum (Water Rocket Event), Technex
                  </h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>

                <div class="col-12 col-md-5 text-end">
                  <h5>Aug 2015</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Momentum is a water rocket event and is part of Technex, which
                is the annual techno-management fest of IIT(BHU). This event
                witnesses a footfall of around 300 participants every year.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>JEE-Advanced Rank Holder: 2714</h2>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>June 2014</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Popular as one of the toughest undergraduate admissions exam in
                the world, this exam witnesses a participation of more than 1.4
                million students each year. My rank puts me at 99.8 percentile.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Maharastra Govt. Scholarship in 7th standard</h2>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>2009</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                This scholarship is provided by the Maharastra Govt. for
                students who clear the cut-off in an exam conducted by them.
                This paper tests the aptitude of the student in English and
                Maths, as well as essay writing skills.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 resumeInnerContainerColumn">
        <h3 class="resume-title">Experience & Projects</h3>
        <div class="dashboard-cards">
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Individual Contributor (Level 2)</h2>
                  <small>Apple India Pvt. Ltd.</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>July 2019 - Present</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Hyderabad, India
                <br /><br />
                I joined as a campus hire at Apple-India. My time at apple has
                allowed me to work with a variety of software technologies such
                as Spring Boot, Hibernate, Docker, CI-CD and more. I worked at a
                myriad of projects and picked up tasks individually and led them
                to fruition. My work here was highly extolled by my manager and
                colleagues.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>M.Tech. Project & Thesis</h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>2018-2019</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                Title: Control of a 21-level Hybrid Multilevel Inverter using
                Modified Finite Set Model Predictive Control with reduced
                switching stresses <br /><br />
                Professor:
                <a href="https://www.iitbhu.ac.in/dept/eee/people/rmahantyeee">
                  Prof. R. Mahanty (Former H.O.D., Department of Electrical
                  Engineering, IIT(BHU), Varanasi)</a
                >
                <br /><br />
                Details: () <br /><br />
                Paper:
                <a
                  href="https://digital-library.theiet.org/content/journals/10.1049/iet-pel.2019.1314"
                >
                  Reduced voltage stress hybrid multilevel inverter using
                  optimised predictive control</a
                >
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>B.Tech. Project</h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jan 2017 - Dec 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                Title: Control of a 21-level Hybrid Multilevel Inverter using
                Modified Finite Set Model Predictive Control with reduced
                switching stresses <br /><br />
                Professor:
                <a href="https://www.iitbhu.ac.in/dept/eee/people/rksaketeee"
                  >Prof. R. K. Saket (Department of Electrical Engineering,
                  IIT(BHU), Varanasi)</a
                >
                <br /><br />
                Details: Designed an android application to mimic a transmitter
                and use it to control an Arduino based quad-copter by
                establishing a Bluetooth wireless connection.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Research Internship</h2>
                  <small>Kyushu University</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2017 - Aug 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Fukuoka Prefecture, Japan
                <br /><br />
                Title: Simulation and Application of Particle Filter based SLAM
                <br /><br />
                Professor:
                <a
                  href="https://kyushu-u.pure.elsevier.com/en/persons/shinji-hokamoto"
                  >Prof. Shinji Hokamoto (Department of Aeronautics and
                  Astronautics, Kyushu University, Fukuoka, Japan)</a
                >
                <br /><br />
                Details: Studied and applied the particle filter based approach
                to SLAM on a 2D mobile rover system using April Tags as real
                world references.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>DIH Project</h2>
                  <small>Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jan 2016 - May 2016</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                Title: Visual SLAM (Simultaneous Localisation and Mapping) on
                UAVs <br /><br />
                Professors:
                <ul>
                  <li>
                    <a
                      href="https://www.iitbhu.ac.in/dept/cse/people/hariprabhatcse"
                      >Prof. Hari Prabhat Gupta (Dept. of Computer Science,
                      IIT(BHU))</a
                    >
                  </li>
                  <li>
                    <a href="https://iitbhu.ac.in/dept/cse/people/tanimacse"
                      >Dr. Tanima Dutta (Dept. of Computer Science, IIT(BHU))</a
                    >
                  </li>
                </ul>
                Details: Implemented Visual Odometry as a solution for the SLAM
                Problem in a UAV using a monocular camera and Extended Kalman
                filter (EKF) algorithm.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="resume-title">Extra-Curricular Activities</h3>
        <div class="dashboard-cards">
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Joint Secretary of Aero-Modelling Club</h2>
                  <small>Gymkhana, Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2016 - May 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                Under my tenure at the joint secretary of this club, I took the
                initiative to bring new projects within the purview of the club,
                and introduced technologies such as racing and autonomous
                drones. I motivated the freshers of our college to actively
                participate in the club’s activities by conducting workshops,
                seminar, and industrial visits. Under my tenure, the club grew
                in leaps and bounds, and IIT(BHU) witnessed golden days of the
                club. The visibility of the club grew highly as we participated
                and displayed our projects at college events, thereby making
                this club one of the most popular and active clubs at the
                college. One of the prominent events conducted by our club in
                Technex went on to receive the best technical event award by the
                gymkhana for that year
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Head, Ascension</h2>
                  <small>Technex, Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2016 - May 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                In 2017, our club introduced a dedicated events category called
                as “Ascension” in Technex, the annual techno-management event of
                IIT(BHU). I was the head of that event-category, which boasted
                four prominent and exciting technical competitions related to
                aero-modelling. We witnessed a high internal as well as external
                participation in these events, totalling to a footfall of about
                600. This activity set aero-modelling club apart from other
                technical activities and it made a name and a permanent place
                for itself in Technex for years to come.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Coordinator, Dronetech (Multi-rotor event), Ascension</h2>
                  <small>Technex, Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2016 - May 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                I was the chief coordinator for Drone-tech, one of the events of
                Ascension at Technex. This event had the highest prize money of
                all the events at Technex. This event primarily tests the
                participants skills in drone making and flying. I, along with my
                team designed the problem statement for the event. We
                constructed the arena and organised the event which went on to
                become a grand success. Even now, the tradition of this event is
                continued and it remains the event with the highest stakes each
                year.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Coordinator, Prof. Veerbhadra Mishra Memorial Airshow</h2>
                  <small>Technex, Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2016 - May 2017</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                Aero-modelling club hosts a very unique event each year during
                Technex, which displays its technological powress in its full
                glory. Here, we display many of our flying models and perform
                exciting feats with them, which are a visual treat for the
                audience. We see a footfall of more than 2000, including
                students from various schools, and also professors as well as
                prominent members of the society. Here, I took up a lead role
                and led my teams efforts to make this show a grand success.
                During this year, we displayed new models such as 3D helicopter,
                racing drone formation, and drone fighting.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>
                    Co-coordinator, Drone-Tech (Multi-rotor event), X-treme
                    Engineering
                  </h2>
                  <small>Technex, Indian Institute of Technology, (BHU)</small>
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2015 - May 2016</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
                <br /><br />
                I was the chief coordinator for Drone-tech, one of the events of
                Ascension at Technex. This event had the highest prize money of
                all the events at Technex. This event primarily tests the
                participants skills in drone making and flying. I, along with my
                team designed the problem statement for the event. We
                constructed the arena and organised the event which went on to
                become a grand success. Even now, the tradition of this event is
                continued and it remains the event with the highest stakes each
                year.
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-title">
              <div class="row">
                <div class="col-12 col-md-7 pb-1">
                  <h2>Coordinator, Publicity Team, Prastuti</h2>
                  <small
                    >Electrical Engineering Dept., Indian Institute of
                    Technology, (BHU)</small
                  >
                </div>
                <div class="col-12 col-md-5 text-end">
                  <h5>Jul 2015 - May 2016</h5>
                </div>
              </div>
            </div>
            <div class="card-flap flap1">
              <div class="card-description">
                Location: Varanasi, Uttar Pradesh, India
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a class="btn" href="#">Close</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
