{% assign index = site.data.index %}

<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Skills</h2>
        </div>

        <div class="row skills-content">
            {% for subSection in index.skills %}
                <h4>{{ subSection.name }}</h4>
                {% for skill in subSection.skillSet %}
                    <div class="col-lg-6"> 
                        <div class="progress"  data-aos="fade-right"> 
                            <span class="skill"> {{ skill.name }} <i class="val">{{ skill.value }}%</i></span> 
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div> 
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>


            